.container{
    position: relative;
    height: 450px;
    width:20% !important;
    border: 1px solid red;
}
.displayContainer{
    position: relative;
    top:5%;
    border: 1px solid blue;
    height:50px;
    width: 80% !important;
}
.buttonGrid{
    position: relative;
    margin-top:25%;
    height:350px;
    width: 125% !important;
} 
.btnClear{
    position: relative;
    left: 105%;
}