.container{
    position: relative;
    height: 400px;
    width:20% !important;
    border: 1px solid red;
}
.displayContainer{
    position: relative;
    top:5%;
    border: 1px solid blue;
    height:50px;
    width: 80% !important;
}
.buttonGrid{
    position: relative;
    margin-top:30%;
    border: 1px solid blue;
    height:300px;
    width: 125% !important;
} 
